.container-booking {
    grid-column: 3 / span 8; /* Centers the text */
    display: flex;
    flex-direction: column;
    color: #FFFFFF; /* Ensure text is readable */
    padding: 20px 20px 20px 0px;
    gap: 0;
}