nav {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* 12 equal columns */
  width: 100%;
  padding: 16px 20px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adds subtle shadow */
}

div .inner-flex {
    grid-column: 3 / span 8;
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 25px;
}

.nav {
    transition: top 0.3s ease-in-out;
}

.nav.hidden {
    top: -120px; /* Moves nav out of view */
}

.nav.visible {
    top: 0;
}

  nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  nav li {
    font-family: 'Karla', sans-serif;
    font-weight: bold;
  }

  nav a {
    text-decoration: none;
    color: #333;
    font-size: 16pt;
  }

.active-link {
    color: #F4CE14; /* Yellow color */
    font-weight: bold;
    border-bottom: 3px solid #F4CE14; /* Underline effect */
    padding-bottom: 5px;
}

/* Optional: Hover effect for better UX */
nav a:hover {
    color: #F4CE14;
}

  @media (max-width: 1256px) {
    nav ul {
        flex-wrap: wrap;
        gap: 20px;
      }
  }

  @media (max-width: 1024px) {
    nav {
      padding: 10px 0;
    }
    nav a {
      font-size: 14pt;
    }

  }

  @media (max-width: 768px) {
    nav ul {
      flex-direction: column; /* Stack links vertically */
      align-items: center;
      gap: 10px;
    }

    .nav.hidden {
      top: -210px; /* Moves nav out of view */
    }
  }

  @media (max-width: 480px) {
    div .inner-flex {
      grid-column: 2 / span 10;
      display: flex;
      justify-content:space-between;
      align-items: center;
      gap: 25px;
  }

    nav img {
      width: 170px;
    }
  }